<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC_JDBC:war exploded">
    <output-path>$PROJECT_DIR$/webapp/WEB-INF/classes/artifacts/springMVC_JDBC_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springMVC_JDBC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC_JDBC" />
        </element>
      </element>
    </root>
  </artifact>
</component>