<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_hello_xml:war exploded">
    <output-path>$PROJECT_DIR$/webapp/WEB-INF/classes/artifacts/SpringMVC_hello_xml_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC_hello_xml/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_hello_xml" />
        </element>
      </element>
    </root>
  </artifact>
</component>