<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_request_response:war exploded">
    <output-path>$PROJECT_DIR$/webapp/WEB-INF/classes/artifacts/SpringMVC_request_response_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC_request_response/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_request_response" />
        </element>
      </element>
    </root>
  </artifact>
</component>